.mapActions {
  position: absolute;
  right: 20px;
  top: 70px;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
}

.mapActionBtn {
  width: 42px;
  height: 42px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.32);
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #c12731;
  display: block;
  margin: 5px;
  &:hover {
    cursor: pointer;
    color: #d62731;
  }
}